@import '../css/variables.css';

@define-mixin col {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: var(--gutter-col-mobile, 10px);
	padding-left: var(--gutter-col-mobile, 10px);
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	box-sizing: border-box;

	@media (--screen-lg) {
		padding-right: var(--gutter-col-desktop, 10px);
		padding-left: var(--gutter-col-desktop, 10px);
	}
}

@define-mixin colAuto {
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

@define-mixin col1 {
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

@define-mixin col2 {
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

@define-mixin col3 {
	flex: 0 0 25%;
	max-width: 25%;
}

@define-mixin col4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

@define-mixin col5 {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

@define-mixin col6 {
	flex: 0 0 50%;
	max-width: 50%;
}

@define-mixin col7 {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

@define-mixin col8 {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

@define-mixin col9 {
	flex: 0 0 75%;
	max-width: 75%;
}

@define-mixin col10 {
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

@define-mixin col11 {
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

@define-mixin col12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.col {
	@mixin col;
}

.col-auto {
	@mixin colAuto;
}

.col-1 {
	@mixin col1;
}

.col-2 {
	@mixin col2;
}

.col-3 {
	@mixin col3;
}

.col-4 {
	@mixin col4;
}

.col-5 {
	@mixin col5;
}

.col-6 {
	@mixin col6;
}

.col-7 {
	@mixin col7;
}

.col-8 {
	@mixin col8;
}

.col-9 {
	@mixin col9;
}

.col-10 {
	@mixin col10;
}

.col-11 {
	@mixin col11;
}

.col-12 {
	@mixin col12;
}

.order-first {
	order: -1;
}

.order-last {
	order: 13;
}

@media (--screen-sm) {
	.col-sm {
		@mixin col;
	}

	.col-sm-auto {
		@mixin colAuto;
	}

	.col-sm-1 {
		@mixin col1;
	}

	.col-sm-2 {
		@mixin col2;
	}

	.col-sm-3 {
		@mixin col3;
	}

	.col-sm-4 {
		@mixin col4;
	}

	.col-sm-5 {
		@mixin col5;
	}

	.col-sm-6 {
		@mixin col6;
	}

	.col-sm-7 {
		@mixin col7;
	}

	.col-sm-8 {
		@mixin col8;
	}

	.col-sm-9 {
		@mixin col9;
	}

	.col-sm-10 {
		@mixin col10;
	}

	.col-sm-11 {
		@mixin col11;
	}

	.col-sm-12 {
		@mixin col12;
	}

	.order-sm-first {
		order: -1;
	}

	.order-sm-last {
		order: 13;
	}
}

@media (--screen-md) {
	.col-md {
		@mixin col;
	}

	.col-md {
		@mixin col;
	}

	.col-md-auto {
		@mixin colAuto;
	}

	.col-md-1 {
		@mixin col1;
	}

	.col-md-2 {
		@mixin col2;
	}

	.col-md-3 {
		@mixin col3;
	}

	.col-md-4 {
		@mixin col4;
	}

	.col-md-5 {
		@mixin col5;
	}

	.col-md-6 {
		@mixin col6;
	}

	.col-md-7 {
		@mixin col7;
	}

	.col-md-8 {
		@mixin col8;
	}

	.col-md-9 {
		@mixin col9;
	}

	.col-md-10 {
		@mixin col10;
	}

	.col-md-11 {
		@mixin col11;
	}

	.col-md-12 {
		@mixin col12;
	}

	.order-md-first {
		order: -1;
	}

	.order-md-last {
		order: 13;
	}
}

@media (--screen-lg) {
	.col-lg {
		@mixin col;
	}

	.col-lg-auto {
		@mixin colAuto;
	}

	.col-lg-1 {
		@mixin col1;
	}

	.col-lg-2 {
		@mixin col2;
	}

	.col-lg-3 {
		@mixin col3;
	}

	.col-lg-4 {
		@mixin col4;
	}

	.col-lg-5 {
		@mixin col5;
	}

	.col-lg-6 {
		@mixin col6;
	}

	.col-lg-7 {
		@mixin col7;
	}

	.col-lg-8 {
		@mixin col8;
	}

	.col-lg-9 {
		@mixin col9;
	}

	.col-lg-10 {
		@mixin col10;
	}

	.col-lg-11 {
		@mixin col11;
	}

	.col-lg-12 {
		@mixin col12;
	}

	.order-lg-first {
		order: -1;
	}

	.order-lg-last {
		order: 13;
	}
}

@media (--screen-xl) {
	.col-xl {
		@mixin col;
	}

	.col-xl-auto {
		@mixin colAuto;
	}

	.col-xl-1 {
		@mixin col1;
	}

	.col-xl-2 {
		@mixin col2;
	}

	.col-xl-3 {
		@mixin col3;
	}

	.col-xl-4 {
		@mixin col4;
	}

	.col-xl-5 {
		@mixin col5;
	}

	.col-xl-6 {
		@mixin col6;
	}

	.col-xl-7 {
		@mixin col7;
	}

	.col-xl-8 {
		@mixin col8;
	}

	.col-xl-9 {
		@mixin col9;
	}

	.col-xl-10 {
		@mixin col10;
	}

	.col-xl-11 {
		@mixin col11;
	}

	.col-xl-12 {
		@mixin col12;
	}

	.order-xl-first {
		order: -1;
	}

	.order-xl-last {
		order: 13;
	}
}

@media (--screen-xxl) {
	.col-xxl {
		@mixin col;
	}

	.col-xxl-auto {
		@mixin colAuto;
	}

	.col-xxl-1 {
		@mixin col1;
	}

	.col-xxl-2 {
		@mixin col2;
	}

	.col-xxl-3 {
		@mixin col3;
	}

	.col-xxl-4 {
		@mixin col4;
	}

	.col-xxl-5 {
		@mixin col5;
	}

	.col-xxl-6 {
		@mixin col6;
	}

	.col-xxl-7 {
		@mixin col7;
	}

	.col-xxl-8 {
		@mixin col8;
	}

	.col-xxl-9 {
		@mixin col9;
	}

	.col-xxl-10 {
		@mixin col10;
	}

	.col-xxl-11 {
		@mixin col11;
	}

	.col-xxl-12 {
		@mixin col12;
	}

	.order-xxl-first {
		order: -1;
	}

	.order-xxl-last {
		order: 13;
	}
}

@media (--screen-xxxl) {
	.col-xxxl {
		@mixin col;
	}

	.col-xxxl-auto {
		@mixin colAuto;
	}

	.col-xxxl-1 {
		@mixin col1;
	}

	.col-xxxl-2 {
		@mixin col2;
	}

	.col-xxxl-3 {
		@mixin col3;
	}

	.col-xxxl-4 {
		@mixin col4;
	}

	.col-xxxl-5 {
		@mixin col5;
	}

	.col-xxxl-6 {
		@mixin col6;
	}

	.col-xxxl-7 {
		@mixin col7;
	}

	.col-xxxl-8 {
		@mixin col8;
	}

	.col-xxxl-9 {
		@mixin col9;
	}

	.col-xxxl-10 {
		@mixin col10;
	}

	.col-xxxl-11 {
		@mixin col11;
	}

	.col-xxxl-12 {
		@mixin col12;
	}

	.order-xxxl-first {
		order: -1;
	}

	.order-xxxl-last {
		order: 13;
	}
}
