@import '../css/variables.css';

@define-mixin row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 var(--margin-row-mobile, -10px);

	@media (--screen-lg) {
		margin: 0 var(--margin-row-desktop, -10px);
	}
}

.row {
	@mixin row;
}

.justify-content-flex-start {
	justify-content: flex-start;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-initial {
	justify-content: initial;
}

.align-items-stretch {
	align-items: stretch;
}

.align-items-center {
	align-items: center;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-initial {
	align-items: initial;
}
