
@import '../css/variables.css';

@define-mixin container {
	margin: auto;
	max-width: var(--max-width, 1440px);
	padding-right: var(--margin-container-mobile, 20px);
	padding-left: var(--margin-container-mobile, 20px);

	@media (--screen-lg) {
		padding-right: var(--margin-container-desktop, 20px);
		padding-left: var(--margin-container-desktop, 20px);
	}

	@media (--screen-xxxl) {
		max-width: 1704px;
	}
}

@define-mixin containerFluid {
	width: 100%;
	max-width: initial;
	padding-right: var(--margin-container-mobile, 20px);
	padding-left: var(--margin-container-mobile, 20px);
	margin-right: auto;
	margin-left: auto;

	@media (--screen-lg) {
		padding-right: var(--margin-container-desktop, 20px);
		padding-left: var(--margin-container-desktop, 20px);
	}
}

@define-mixin containerChild {
	padding-right: var(--margin-container-child-mobile, 10px);
	padding-left: var(--margin-container-child-mobile, 10px);

	@media (--screen-lg) {
		padding-right: var(--margin-container-child-desktop, 10px);
		padding-left: var(--margin-container-child-desktop, 10px);
	}
}

.container {
	@mixin container;
}

.container-fluid {
	@mixin containerFluid;
}

.container-child {
	@mixin containerChild;
}
